body{
    margin:0px;
}
/* Header section */
#body-header{
    background-image: url(/macbook_mouse.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    padding: 1.5%;
}
.horizontal-list{
    text-align: center;
    margin: 0px;
    color: white;
    text-decoration: none;
}
.horizontal-list li{
    display: inline-block;
    list-style: none;
    padding: 1%;
    font-weight: 400;
    font-size: 1.2rem;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
}
.nav-menu li a{
    transition:color 0.5s, border-bottom 4s;
}
#my-name{
text-align: center;
margin: 5% 0 0 0;
color: white;
font-weight:700;
font-size: 4rem;
line-height: 95%;
word-spacing: 10px;
}
.social-icons li a i{
 font-size: 1.5rem;
 margin: 0.14rem;
 border-radius: 50%;
}
.nav-menu li a:hover{
    color: lightgray;
    border-bottom: 1px solid black;
}
.social-icons li a i:hover{
    box-shadow: 0 0 6px 4px rgba(230,196,196,0.8);
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section:nth-child(2n){
    background-color: gray;
} */
section:nth-child(2n+1){
    background-color: white;
}
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top:10px;
    margin-right: 0.5rem;
}
  /* About section */
#about{
    text-align: center;
    height: auto;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
#about p{
    display: inline-block;
    width: 50vw;
    line-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: justify;
}
#my-image{
    margin-top: -13vh;
}
#my-image img{
border-radius: 50%;
border:2px solid lightgray;
box-shadow:0 0 8px 8px  rgba(230,196,196,0.8);
}
/* skills section */
.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.skill-progress{
    width: 7rem;
    height:1.4rem;
    border-radius: 0.8rem;
    background-color: lightgrey;
    margin:0 5% 5% 5%;
}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name span{
color: white;
font-size: 1rem;
margin-left: 10px;
}
/* Timeline */
.timeline{
    position: relative;
    width: 75%;
}
.timeline-box{
    position: relative;
    width: 40%;
    left: 5%;
    min-height: 150px;
}
.timeline-box:nth-child(2n+1){
    left: 53%;
}
.r .fr,.r .cr,.r .tr{
    position:absolute;
    right: 0px;
}
.fr, .fl{
font-size: 1.2rem;
font-weight: 700;
color:#2857a4;
}
.cr, .cl{
    font-size: 1rem;
font-weight: 400;
color:orange;
margin-top: 4px;
}
.tr,.tl{
    margin-top: 4px;
    opacity: 0.8;
}
.timeline-box .d{
text-align: justify;
opacity: 0.8;
}
.vl{
border-left: 2.5px dotted black;
height:94%;
position: absolute;
left: 49%;
top: 7.5%;
opacity: 0.5;
}
.jet{
    position: sticky;
    left: 48.5%;
    top: 50px;
    transform: rotate(90deg);
}
.dot0,.dot1,.dot2,.dot3{
position: absolute;
left: 48.25%;
opacity: 0.2;
}
.dot0{
    top: 5%;
}
.dot1{
top:28.5%;
}
.dot2{
    top:53.2%;
}
.dot3{
    top:77.5%;
}
/* Education section */
.school{
    position: relative;
    width: 75%;
}
.school .dot1{
    top: 37.7%;
}
.school .dot2{
    top:70%;
}
/* Portfolio section */
.portfolio-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
 .p1,.p2,.p3{
background-image: url('/codezen.png');
width: 30%;
height: 40vh;
background-size: contain;
background-repeat: no-repeat;
}
.p4,.p5,.p6{
    background-image: url('/codezen_2.png');
    width: 30%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
}
/* Contact Section */
#contact{
background: linear-gradient(to top right, blue, purple);
}

.details{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
}
.form1{
width: 40%;
text-align: center;
}
input{
    margin-top: 10%;
    width: 100%;
}
button{
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 10%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
.address{
width: 40%;
}
input{
border:none;
border-bottom: 2px solid white;
background:transparent;
}
.touch span{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
.touch p{
    text-align: justify;
    color: white;
}
.my span{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
.my p{
    color: white;
}
.footer{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.footer li a i{
    color:white;
    margin: 20px;
}
/* common margin classes */
.mb75px{
    margin-bottom: 75px;
}
/* common color classes */
.text-highlight{
    color: #2857a4;
    font-weight: 600;
}
.mb-blue{
    background-color: #2857a4;
}
/* percentage classes */
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
